<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .row {
            display: flex;
            flex-wrap: wrap;
        }
        .box {
            width: 120px; 
            height: 120px; 
            margin: 10px; 
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <h1>Colorfull boxes</h1>

    <div class="row">
        {% for i in colors %}
         <div class="box" style="background-color: {{ i }};">
            <center>{{ i }}</center>
         </div>
        {% endfor %}

    </div>

</body>
</html>